.custom-queries {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 28vh;
  background: rgba(242, 242, 242, 0.85); /* Use RGBA for semi-transparent background */
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.query-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  padding: 20px;
  width: 350px;
  text-align: center;
  transition: transform 0.2s;
}
  
  .query-card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .query-icon {
  }
  
  .query-title { 
    margin-top: 10%;
   }
  
  .query-subtext {
    margin-top: 10%;
    font-size: smaller;
    color: grey;
  }