.custom-queries {
  text-align: center;
  z-index: 1000; /* Ensure it's above other content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.query-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  padding: 20px;
  width: 280px;
  height: 75px;
  text-align: center;
  transition: transform 0.2s;
  display: flex; /* Keep the flex layout for aligning items */
  flex-direction: row; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin-bottom: 20px; /* Add some space between the cards */
}

.query-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.query-icon {
  height: 45px;
  width: 45px;
  padding-right: 20px;
}

.query-title { 
  font-size: 18px;
  }
  