.search-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px; 
    margin-top: 100px; 
  }
    
  .medicine-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 450px;
    text-align: left; 
    height: auto; 
    min-height: 150px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
  }
  
  .medicine-card-name {
    font-size: 1.3em; 
    font-weight: bold;
    color: #E63946;
    margin-bottom: 1px;
    height: 30px;
  }
  
  .medicine-card-description {
    font-size: 1em;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.4em;
    max-height: 4.2em; /* 3 lines of text */
    overflow-wrap: break-word;
  }
  
  /* Add a class for the case when there are no highlights */
  .no-highlights {
    color: #404040; /* Lighter color to indicate less importance */
  }
  
  
  .medicine-card-details {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-top: 8px; 
    max-height: 200px;
  }
  
  .medicine-card-route, .medicine-card-price {
    font-size: 1.1em; 
    font-weight: bold; 
    color: #333; 
  }
  .medicine-card-route{
    
  }
  
  .medicine-card-price {
    background: #E63946; 
    color: #fff; 
    padding: 2px 8px; 
    border-radius: 4px; 
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .medicine-card {
    opacity: 0; 
    animation: fadeInUp 0.5s ease forwards; 
    animation-delay: calc(var(--row-number) * 0.3s);
  }