.suggestions {
    display: block;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 162px;
    overflow-y: auto;
    gap: 2px;
  }
  
  .suggestions > div{
    flex: 0 0 auto;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: rgba(253, 253, 253, 0.83);
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(0.97);
  }

  .suggestions > div:hover {
    background-color: #ffffff;
    transform: scale(1.0);
  }

.suggestions::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 1px;
}

.suggestions::-webkit-scrollbar-thumb {
  background-color: #ffffff; 
  border-radius: 10px;
  border: 1px solid rgba(23, 23, 23, 0.1);
}

.suggestions::-webkit-scrollbar {
  width: 8px; 
}

.suggestions::-webkit-scrollbar-thumb:hover {
  background-color: #8d8d8d; 
}

.suggestions {
  scrollbar-width: thin; 
  scrollbar-color: #a0a0a0 rgba(0, 0, 0, 0.1);
}