body, html {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.background-image {
    background-image: url('../../assets/medication_background.jpg');
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.container {
    position: absolute;
    top: 25vh;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 48px;
    font-weight: 400;
    color: white;
}

.heart {
    color: red;
}
.search-container {
    margin: 20px auto;
    position: relative; 
    width: 50%; 
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#medicine-search {
    border: none;
    font-size: 18px;
    padding: 8px 15px;
    margin: 10px 0px;
    width: 85vh;
    margin-left: 10px; 
    margin-right: 12px; 
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7); 
    box-shadow: none;
    color: rgb(27, 27, 27);
    font-weight: 300;

    
}
#medicine-search:focus {
    border-bottom: 2px solid #ff3c3c; 
}
#medicine-search::placeholder {
    color: rgba(0, 0, 0, 0.7); 
    opacity: 1; 
    font-weight: 200;
}

.search-icon {
    width: 50px;
    height: 50px;
    color: rgba(0, 0, 0, 0.7);
}

.icon-button{
    width: 50px;
    height: 65px;
}

.icon-button {
    background: transparent;
    border: none;
    margin: 0 15px;
    margin: auto;
}
.icon-button:hover {
    cursor: pointer;
}

.custom-queries {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28vh;
    background: #f2f2f2;
    text-align: center;
    padding: 20px 0;
    opacity: 0.85;
}


.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.loading {
    margin: 10px;
}

#spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: rgb(255, 0, 0);
    animation: spin 1s ease infinite;
    margin: 0 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.suggestions {
    display: block;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.suggestions > div{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    background-color: rgba(155, 155, 155, 0.523);
    border-radius: 10px;
    text-align: center;
    font-size: 1.3em;
}

