body, html {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.background-image {
  background-image: url('assets/medication_background.jpg');
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.container {
  position: absolute;
  top: 8vh;
  width: 1500px;
  text-align: center;
  margin-left: 385px;
}

.left-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0; 
  width: 350px; 
  background: rgba(242, 242, 242, 0.85); 
  text-align: center;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar {
  z-index: 1;
}

.sidebar.active {
  z-index: 2;
}

.sidebar {
  display: none; 
}

.sidebar.open {
  display: block;
}
